@charset "utf-8";

html,
body,
div,
h1,h2,h3,h4,
ul,li,
dl,dt,dd,
p,b,
img,
input {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	display: block;
	height: 0;
	content: '';
	clear: both;
}

body {
	font-size: 14px;
	font-family: "microsoft yahei";
	color:#3e3e3e;
}
input{
	outline: none;
	border:0;
}
a {
	text-decoration: none;
	color: #666;
}

li {
	list-style: none;
}
i{
	text-decoration: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
